[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "pelican-octopress-theme"]
	path = pelican-octopress-theme
	url = git@github.com:jakevdp/pelican-octopress-theme.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = git://github.com/getpelican/pelican-themes.git
[submodule "semantic-pelican"]
	path = semantic-pelican
	url = git://github.com/rothnic/semantic-pelican.git
