[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-octopress-theme"]
	path = pelican-octopress-theme
	url = https://github.com:jakevdp/pelican-octopress-theme
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
[submodule "semantic-pelican"]
	path = semantic-pelican
	url = https://github.com/rothnic/semantic-pelican
[submodule "pure-single"]
	path = pure-single
	url = https://github.com/rothnic/pure-single
[submodule "holo-pelican"]
	path = holo-pelican
	url = https://github.com/rothnic/holo-pelican
