[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "theme/pelican-bootstrap3"]
	path = theme/pelican-bootstrap3
	url = https://github.com/rothnic/pelican-bootstrap3
